.form-second {
    padding: 20px;
    background-color: var(--second-background);
    box-shadow: var(--box-shadow);
    border-radius: 12px;
}

.form-second .form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-bottom: 10px;
}

.form-second .form-title {
    color: var(--txt-color);
    font-size: 10px;
    text-transform: capitalize;
    margin-right: 5px;
    cursor: pointer;
}

.form-second .form-title.active {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
}

.form-second .form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-second .form-control input {
    width: 100%;
    height: 35px;
    outline: none;
    padding: 5px 10px;
    color: var(--txt-color);
    border: 1px solid var(--txt-color);
    background-color: transparent;
    border-radius: 10px;
}

.form-second .form-group .form-label {
    color: var(--txt-color);
    width: max-content;
}

.form-second .form-group .form-error {
    position: absolute;
    left: 0;
    top: 100%;
    width: max-content;
    font-size: 13px;
    color: red;
}

.form-second .form-submit button {
    width: 100%;
    padding: 5px 10px;
    text-transform: capitalize;
    border-radius: 8px;
    cursor: pointer;
}

.form-second .form-group .form-control input.focus,
select.focus {
    border-color: red;
}

.table-aside {
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 99;
}

@media (max-width: 450px) {
    .table-create {
        position: fixed;
        top: 100%;
        left: 50%;
        width: 350px;
        transform: translateX(-50%);
        z-index: 100;
    }

    .table-create.active {
        top: 25%;
    }

    .table-create.active ~ .table-aside {
        top: 0;
    }
}
