.list-table {
    width: 100%;
}

.list-table .tables {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    height: 100px;
    margin: 0 20px 20px 0;
    background-color: var(--second-background);
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.list-table .tables.active {
    background-color: #ea7085 !important;
}

.list-table .tables h5 {
    font-size: 18px;
    font-weight: 800;
    text-transform: capitalize;
    color: var(--primary-color);
}

.list-table .tables p {
    text-transform: capitalize;
    font-size: 13px;
    color: var(--third-color);
}

@media (max-width: 1024px) and (min-width: 740px) {
    .list-table .tables {
        width: 145px;
    }
}

@media (max-width: 450px) {
    .list-table {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 375px) {
    .list-table .tables {
        width: 90px;
    }

    .list-table .tables {
        margin: 0 10px 10px 0;
    }
}
