.form.login .form-group .form-label {
    width: 80px;
}

.form-group .hidden-password {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    cursor: pointer;
    color: gray;
}

.form-group .hidden-password:hover {
    color: black;
}
